<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/css.css">

    <meta property="og:title" content="{{ title }}" />
    {#
    <meta property="og:url" content="https://www.imdb.com/title/tt0117500/" />
    <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />
    <meta property="og:type" content="article" />
    article:published_time - datetime - When the article was first published.
    article:modified_time - datetime - When the article was last changed.
    article:expiration_time - datetime - When the article is out of date after.
    article:author - profile array - Writers of the article.
    article:section - string - A high-level section name. E.g. Technology
    article:tag - string array - Tag words associated with this article.
    #}

    {% include "light-dark-theme.j2" %}
    {% include "highlight.j2" %}
    {% include "layout.j2" %}
    {% include "fonts.j2" %}

    <style>
        .header-image {
            /*position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            */
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            {# <img src="{{ cover_image }}" class="header-image"> #}
            <h1>Hello World!</h1>
        </header>
        <article class="main">
            <h1>{{ title }}</h1>
            <h3>{{ subtitle }}</h3>
            <h4><i>{{ date }}</i></h3>

                {{ body }}
        </article>
        <aside class="aside aside-1"></aside>
        <aside class="aside aside-2"></aside>
        <footer class="footer">
            {% include "rss.j2" %}
        </footer>
    </div>


    <div class="green post-container">

        <!--

        <div class="blue post-title">
            {{ title }}
        </div>


        <h3>{{ subtitle }}</h3>
        <h4><i>{{ date }}</i></h3>

        {% include "rss.j2" %}

        <div>
            <img src="{{ cover_image }}" width=15%>
            {# <img src="https://plus.unsplash.com/premium_photo-1685082778248-d478f0b86512?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80"
                width=15%>
            <img src="https://plus.unsplash.com/premium_photo-1685082778205-8665f65e8c2c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80"
                width=15%>
            <img src="https://images.unsplash.com/photo-1554668329-bee7191d83d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
                width="15%">
            <img src="https://images.unsplash.com/photo-1636716014665-a38c9b33e0c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1689&q=80"
                width="15%"> #}
        <div>

        <div class=post-body-container>
            {{ body }}
        </div>
        -->
    </div>

    <!-- Comments do not load locally -->
    {% include "utterances.j2" %}

    {% include "ko-fi.j2" %}
</body>

</html>