<!-- Utterances GitHub Issue Comments -->
<script src="https://utteranc.es/client.js"
    repo="pebaz/fromzero-blog"
    issue-term="og:title"
    label="comment"
    theme="preferred-color-scheme"
    crossorigin="anonymous"
    async>
</script>
