/*
CSS Styles for both pages and posts.
*/

.page-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
}

.page-navigation-home {
    display: flex;
}

.page-navigation-page {
    display: flex;
}






.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.post-body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-title {
    display: flex;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
