<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
<head>
    <title>{{ title }}</title>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />

    {% include "layout.j2" %}
    {% include "fonts.j2" %}
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h1>From Zero Systems Blog</h1>
            <h3><i>In Development</i></h3>
        </header>
        <article class="main">
            <ul>
                {% for post in posts %}
                    <li>
                        <a href="../posts/{{ post }}.html">{{ post }}</a>
                        <ul>
                            <li>{{ posts[post]['date'] }}</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </article>
        <aside class="aside aside-1"></aside>
        <aside class="aside aside-2"></aside>
        <footer class="footer">
            {% include "rss.j2" %}
        </footer>
    </div>

    {% include 'ko-fi.j2' %}
</body>
</html>
