@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/NotoSans-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../fonts/NotoSans/NotoSans-Bold.ttf') format('truetype');
    font-weight: bold;
}

/* Set these one by one for better code styling */
@font-face {
    font-family: 'NotoSansMono';
    src: url('../fonts/NotoSans/NotoSansMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansMono';
    src: url('../fonts/NotoSans/NotoSansMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

i {
    font-family: 'NotoSans';
    font-style: italic;
}

body {
    font-family: 'NotoSans';
}

strong {
    font-family: 'NotoSans';
    font-weight: bold;
}

b {
    font-family: 'NotoSans';
    font-weight: bold;
}

h {
    font-family: 'NotoSans';
}

code {
    font-family: 'NotoSansMono';
}

.hljs-keyword, .hljs-built_in {
    font-family: 'NotoSansMono';
    font-weight: bold;
}
